    <nav class="site-nav">
      <ul>
        {%- for item in navigation.items %}
        <li><a class="sitenav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>